body {
  background-color: #DCDCDC;
}

#scene-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

h1 {
  text-align:center;
  font-family: Arial;
}

h2 {
  text-align:center;
  font-family: Arial;
}

p {
  text-align:center;
  font-family: Arial;
  padding: 0;
  border: none;
}

a { color: inherit; }

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f9f9f9;
}

a:active {
  text-decoration: none;
}

.button {
  background-color: #DCDCDC;
  color: black;
  transition-duration: 0.4s;
  border: 2px solid #555555;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.buttonAuto {
  font-size: 20px;
  padding: 5px 18%;
}

.buttonJoin {
  font-size: 16px;
  padding: 5px 10px;
}

.buttonCreate{
  font-size: 20px;
  padding: 5px 18%;
}

.button:hover{
  background-color: #555555;
  color: white;
}

.buttonCreate:hover{
  border-color: #008000;
  background-color: #008000;
  color: white;
}
