body {
  background-color: #DCDCDC;
}

#scene-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

#chatoverlay {
  /* overlay going to be used for displaying chat messages at the bottom of the screen */
  position: fixed;
  display: none;
  width: 100%; /* Full width */
  height: 22px; /* same hieght as chat bar */
  left: 0;
  right: 0;
  bottom: 20px;
  background-color: rgba(0,0,0,0.5); /* Black with opacity */
  z-index: 2;
}

#chattext {
  /* format of chat msgs to be displayed */
  font-family: Arial;
  top: 50%;
  left: 50%;
  color: white; /* white on black */
}

#timeroverlay {
  /* overlay going to be used for displaying time left at top of the screen */
  position: fixed;
  display: none;
  width: 40px; /* Full width */
  height: 40px;
  top: 0;
  left: 50%;
  right: 50%;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
  cursor: pointer;
}

h1 {
  text-align:center;
  font-family: Arial;
}

h2 {
  text-align:center;
  font-family: Arial;
}

p {
  text-align:center;
  font-family: Arial;
  padding: 0;
  border: none;
}

a { color: inherit; }

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #f9f9f9;
}

a:active {
  text-decoration: none;
}

.button {
  background-color: #DCDCDC;
  color: black;
  transition-duration: 0.4s;
  border: 2px solid #555555;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

.buttonAuto {
  font-size: 20px;
  padding: 5px 18%;
}

.buttonJoin {
  font-size: 16px;
  padding: 5px 10px;
}

.buttonCreate{
  font-size: 20px;
  padding: 5px 18%;
}

.button:hover{
  background-color: #555555;
  color: white;
}

.buttonCreate:hover{
  border-color: #008000;
  background-color: #008000;
  color: white;
}
